  <div class="footer-content container">
    <p class="txt-center"><strong>TM Lucasfilm</strong> Ltd. All Rights Reserved.</p>
    <div class="footer-bottom">
      <div class="footer-links">
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <ul class="txt-center">
          <li><a href="#">Your California Privacy Rights</a></li>
          <li><a href="#">Star Wars at Disney Store</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-social-media">
        <div class="footer-social-flex">
          <p>FOLLOW STAR WARS</p>
          <ul>
            <li><a href="#"><span class="facebook" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="twitter" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="instagram" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>